/* Main Carousel Container */
.carousel-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 90px;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    display: none;
    width: 100%;
    transition: opacity 0.5s ease;
}

.slide img {
    width: 100%;
    object-fit: cover;
}

.slide.active {
    display: block;
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Dot Navigation */
.dots {
    text-align: center;
    padding: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

@media (max-width: 768px) {
    .slide img {
        height: 300px;
    }

    .prev,
    .next {
        width: 35px;
        height: 35px;
        font-size: 1.5rem;
    }
}
